<% provide(:title ,'Consultancy')  %>
<h1 align="center"  style="color:#D56A00" >Send your messager</h1>
<p>
	<form>
        <table>
	   	   <tr>
	   	   	  <td>Title : </td>
	   	   	  <td><input  type="text" name="title" size="35" /></td>
	   	   </tr>
	   	   <tr>
	   	   	  <td>Email : </td>
	   	   	  <td><input  type="text"  name="email" size="35" /></td>
	   	   </tr>
	   	   <tr>
	   	   	   <td>Content : </td>
	   	   	   <td><textarea rows="10" cols="50"></textarea></td>
	   	   </tr>
	   	   <tr>
	   	   	  <td colspan="2">
	   	   	  	<input  type="submit" value="Submit"  />
                <input  type="reset" value="Reset"  />
	   	   	  </td>
	   	   </tr>
	   </table>
	</form>
</p>