<% provide(:title ,'Contact')  %>
<h1 align="center"  style="color:#D56A00" >Send your messager</h1>
<div align="center">
	<p>
	    <table>
		   	<tr>
		   	   <td>Author  :  </td>
		   	   <td>Nguyen Ngoc Diep</td>
		   	</tr>
		   	<tr>
		   	   <td>Address : </td>
		   	   <td>D09CN2 - PTIT</td>
		   	</tr>
		   	<tr>
		   	   <td>Email : </td>
		   	   <td>diepnguyen2014@gmail.com</td>
		   	 </tr>		   	   
		 </table>
	</p>
</div>